.all-box {
    margin-top: 50px;
    width: 100%;
    height: 600px;
}

.grade1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grade1 > .cone, .grade2 > .cone, .grade3 > .cone, .grade4 > .cone, .grade5 > .cone  {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cone > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cone > .cact > .backcarat {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);
}

.cone > .cact > .backcarat > img {
    height: 95%;
    width: 95%;
    margin-top: 5%;
    margin-left: 2.5%;
}


.cone > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cone > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.cone > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.cone > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.cone > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade1 > .ctwo, .grade2 > .ctwo, .grade3 > .ctwo, .grade4 > .ctwo, .grade5 > .ctwo {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ctwo > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctwo > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctwo > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.ctwo > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.ctwo > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.ctwo > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade1 > .cthree, .grade2 > .cthree, .grade3 > .cthree, .grade4 > .three, .grade5 > .three {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cthree > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cthree > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);
}

.cthree > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cthree > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.cthree > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.cthree > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.cthree > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade1 > .cfour, .grade2 > .cfour, .grade3 > .cfour, .grade4 > .cfour, .grade5 > .cfour {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cfour > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cfour > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);
}

.cfour > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cfour > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.cfour > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.cfour > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.cfour > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade1 > .cfive, .grade2 > .cfive, .grade3 > .cfive, .grade4 > .cfive, .grade5 > .cfive {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cfive > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cfive > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    background: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);

}

.cfive > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cfive > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.cfive > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.cfive > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.cfive > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade1 > .csix, .grade2 > .csix, .grade3 > .csix, .grade4 > .csix, .grade5 > .csix {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csix > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.csix > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);
}

.csix > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.csix > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.csix > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.csix > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.csix > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.grade2, .grade3, .grade4, .grade5 {
    display: none;
}

@keyframes popup{
    0% {font-size: 30px;}
    17% {font-size: 35px;}
    34% {font-size: 30px;}
    51% {font-size: 35px;}
    68% {font-size: 30px;}
    85% {font-size: 35px;}
    100% {font-size: 30px;}
}
