.all-tbox {
    margin-top: 20px;
    width: 100%;
    height: 600px;
}

.tgrade1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tgrade1 > .ctone, .tgrade2 > .ctone, .tgrade3 > .ctone, .tgrade4 > .ctone, .tgrade5 > .ctone {
    margin-top: 150px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ctone > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctone > .cact > .backcarat {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);
}

.ctone > .cact > .backcarat > img {
    height: 95%;
    width: 95%;
    margin-top: 5%;
    margin-left: 2.5%;
}

.ctone > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctone > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.ctone > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.ctone > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.ctone > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.tgrade1 > .cttwo, .tgrade2 > .cttwo, .tgrade3 > .cttwo, .tgrade4 > .cttwo, .tgrade5 > .cttwo {
    margin-top: 150px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.cttwo > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cttwo > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    background: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);

}

.cttwo > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.cttwo > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.cttwo > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.cttwo > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.cttwo > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.tgrade1 > .ctthree, .tgrade2 > .ctthree, .tgrade3 > .ctthree, .tgrade4 > .ctthree, .tgrade5 > .ctthree {
    margin-top: 150px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ctthree > .cact {
    width: 220px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    background: rgba(0, 150, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctthree > .cact > img {
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 95%;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px -2px 2px rgba(0, 0, 0, .3);

}

.ctthree > .cnam {
    margin-top: -50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: darkgreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5), -2px -2px 2px rgba(0, 0, 0, .5);
}

.ctthree > .cnam:hover {
    background: rgba(0, 0, 0, 1);
}

.ctthree > .cnam:hover > a > p {
    animation: popup 2s infinite linear;
}

.ctthree > .cnam > a {
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
}

.ctthree > .cnam > a > p {
    color: white;
    font-size: 30px;
}

.tgrade2, .tgrade3, .tgrade4, .tgrade5 {
    display: none;
}

@keyframes popup{
    0% {font-size: 30px;}
    17% {font-size: 35px;}
    34% {font-size: 30px;}
    51% {font-size: 35px;}
    68% {font-size: 30px;}
    85% {font-size: 35px;}
    100% {font-size: 30px;}
}
